<%= simple_form_for search, url: search_pets_path, method: :get do |f| %>
  <%= f.input :name %>
  <%= f.input :species %>
  <div class="mb-3"></div>
  <%= f.button :submit, 'Search', class: 'btn-primary' %>
<% end %>
