<%= simple_form_for search,
                    url: search_pets_path,
                    method: :get,
                    html: {
                      data: {
                        action: 'submit->search--component#refreshList',
                        search__component_target: 'form'
                      }
                    } do |f| %>
  <%= f.input :name %>
  <%= f.input :species %>
  <div class="mb-3"></div>
  <%= f.button :submit, 'Search', class: 'btn-primary', data: { search__component_target: 'submitButton' } %>
<% end %>
